{% extends "base.html" %}
{% block title %}Sign up - Menu Maker{% endblock %}
{% block content %}
<section class="auth-panel">
  <h1>Create your restaurant workspace</h1>
  <form class="stack" method="post" action="/signup">
    <label>Restaurant name
      <input name="restaurant_name" required maxlength="160" autocomplete="organization">
    </label>
    <label>Email
      <input name="email" type="email" required autocomplete="email">
    </label>
    <label>Password
      <input name="password" type="password" required minlength="6" autocomplete="new-password">
    </label>
    <button class="button" type="submit">Create account</button>
  </form>
</section>
{% endblock %}
